<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li><a href="javascript:void(0);"><i class="ti ti-server"></i><span>Node view</span></a></li>
            <li><a href="javascript:void(0);"><i class="ti ti-wallet"></i><span>Accounts</span></a></li>
            <li><a href="javascript:void(0);"><i class="ti ti-server"></i><span>Children nodes</span></a></li>
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>