<!--<p><%= data.message %></p>-->

<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">Master Node View</h2>
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="db-all.html"><i class="ti ti-home"></i></a></li>
                    <li class="breadcrumb-item active">Master Node</li>
                </ul>
            </div>	                            
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Begin Row -->
<div class="row flex-row">
    <div class="col-xl-12 col-12">
        <div class="widget has-shadow">
            <div class="widget-body">
                <div class="row flex-row">
                  <img style="margin:auto; width:20%" src="assets/img/animated/no-working.gif" />
                </div>
                <div class="row flex-row">
                  <p style="margin:auto">Node is not working!!!</p>
                </div>
                <div class="row flex-row" style="margin-top:10px">
                  <button type="button" style="margin:auto !important;" class="btn btn-success btn-square mr-1 mb-2" onclick="window.location.href='init?status=true'"><i class="ti ti-control-play"></i>Start</button>
                </div>
            </div>
        </div>
    </div>
</div>